/* ==================================================================
CyberList.module.css
================================================================== */

/* ------------------------------------------
全体
------------------------------------------ */
.list {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

/* ------------------------------------------
共通
------------------------------------------ */
.list li {
  width: 100%;
  box-sizing: border-box;

  padding: 20px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  font-family: var(--secondary);

  border-left: 3px solid;
  border-radius: 2px;

  transition: all 0.35s ease;
}

/* ------------------------------------------
成功
------------------------------------------ */
.ok {
  color: var(--cyan);

  border-color: var(--cyan);

  background: var(--cyan_opWeak);

  transform: translateX(8px);
}

/* ------------------------------------------
失敗
------------------------------------------ */
.ng {
  color: var(--lightGray);

  border-color: var(--darkGray_opMid);

  background: var(--darkGray_opWeak);
}

/* ------------------------------------------
文字
------------------------------------------ */
.label {
  letter-spacing: 0.04em;
}

.value {
  font-size: 0.75rem;
}