/* =========================================================================
    Compenents/1-Atoms/UI/GlitchText/GlitchText.module.css
========================================================================= */

.glitch {
    /* 配置基準設定 */
    /* 配置の基準になり、文字のサイズピッタリの箱になる */
    position: relative;
    display: flex;
    align-items: center;
}

/* --- 各文字に対しての設定 --- */
.base {
    /* 文字設定 */
    position: relative;
    color: var(--cyan);
    font-family: var(--secondary);
}

.layer0{
    /* 文字設定 */
    text-shadow: 0 0 5px var(--cyan);
}

.layer1,
.layer2 {
    /* 要素配置設定 */
    position: absolute;
    top: 0;
    left: 0;

    /* 文字設定 */
    font-family: var(--secondary);

    /* 装飾設定 */
    z-index: -1;
    opacity: 0;
    transition: 0.1s;
}

/* --- 実際に表示する際の設定 --- */
.glitch:hover .layer1 {
    /* アニメーション設定 */
    opacity: 0.7;
    color: var(--blue);
    transform: translateX(3px);
}

.glitch:hover .layer2 {
    /* アニメーション設定 */
    opacity: 0.7;
    color: var(--pink);
    transform: translateX(-2px);
}