/* =========================================================================
    Theme/Backgrounds/MajorCyberBackground/MajorCyberBackground.module.css
========================================================================= */

/* ========== CSSの書き方 ========== */
/* 大きさ設定 */
/* バックグラウンド設定 */
/* 要素配置設定 */
/* 余白設定 */
/* 文字設定 */
/* 装飾設定 */
/* 配置基準設定 */
/* アニメーション設定 */
/* 画像設定 */
/* 詳細設定 */

/* 常に画面全体を覆うcanvas */
.canvas {
    /* 大きさ設定 */
    width: 100vw;
    height: 100vh;

    /* 配置基準設定 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;         /* 背景として扱う */
    
    /* 詳細設定 */
    pointer-events: none; /* クリックを透過 */
}