/* ==========================================
   App Layout
========================================== */

.app {
  /* 大きさ設定 */
  height: 100vh;
  width: 100vw;

  /* バックグラウンド設定 */
  background-color: var(--black);

  /* 文字設定 */
  color: var(--cyan);

  /* 配置基準設定 */
  position: relative;
  z-index: 0;

  /* 詳細設定 */
  overflow: hidden;
}

/* メイン表示領域(要素配置をflexにしたい) */
.main {
  /* 大きさ設定 */
  width: 100%;
  height: 100%;

  /* 要素配置設定 */
  display: flex;
  align-items: center;
  justify-content: center;
}
