/* =========================================================================
    Components/2-Molecules/CyberMessageBox/CyberMessageBox.module.css
========================================================================= */

.box {
  display: flex;
  gap: 0.5rem;
  padding: 0.75rem;
  border-radius: 8px;
  align-items: flex-start;
}

.icon {
  margin-top: 2px;
}

.text {
  font-size: 0.75rem;
  line-height: 1.4;
}

/* warning */
.warning {
  background: var(--yellow_opWeak);
  border: 1px solid var(--yellow_opMid);
}

.warning .icon,
.warning .text {
  color: var(--yellow_opMid);
}

/* danger */
.danger {
  background: var(--red_opWeak);
  border: 1px solid var(--red_opMid);
}

.danger .icon
.danger .text {
  color: var(--red_opMid);
}

/* info */
.info {
  background: var(--blue_opWeak);
  border: 1px solid var(--blue_opMid);
}

.info .icon,
.info .text {
  color: var(--blue_opMid);
}

/* success */
.success {
  background: var(--green_opWeak);
  border: 1px solid var(--green_opMid);
}

.success .icon,
.success .text {
  color: var(--green_opMid);
}